.barcode-selector__results {
    position: absolute;
    width: 99.9%;
    left: 0;
    overflow-y: auto;
    display: flex;
    z-index: 1;
    height: 100px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
  }

  .imei-captured {
    border: solid 2px transparent;
    text-align: center;
    margin: 8px 0px;
    width: 25%;
    transition: all ease-out 0.3s;
  }

  .imei-captured.imei-captured--selected {
    border-color: #fff;
    border-radius: 8px;
  }

  .imei-captured img {
    width: 100px;
    margin-bottom: 8px;
    max-width: 100px;
  }

  .imei-captured div {
    color: #fff;
      text-align: center;
  }
