.container {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    padding: 50px 0 0 0;
    width: 100%;
}

.col-1 {
    background-color: transparent;
    display: flex;
    flex: 1 1 0%;
    height: 100%;
    margin: 10px;
    object-fit: cover;
    opacity: 1;
    padding: 20px;
    width: 80%;
}

.content_carrusel {
    width: 182px;
}

.col-2 {
    background-color: transparent;
    margin: 10px;
    padding: 20px;
    width: 20%;
    display: flex;
}
.contain-button_next button {
    bottom: -15px;
    height: min-content;
    left: -25px;
    position: absolute;
}

.contain-button_next {
    align-items: end;
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 100%;
}